#### Deep Dive into Operators
Outline
1. Introduction to Operators
2. Arithmetic Operators
    * Addition
    * Subtraction
    * Multiplication
    * Division 
    * Floor Division
    * Modulus
    * Exponentiation
3. Comparison Operators
    * Equal to
    * Not equal to
    * Greater than
    * Less than
    * Greater than or equal to
    * Less than or equal to
4. Logical Operators
    * AND
    * OR
    * NOT
5. Practical Examples and Common Errors

###### Shortcut for cells : escape and press A, automatically cells will get appendant

#### Arithmethic Operation

In [ ]:
## Arithmethic Operation

a = 10
b = 2

add_result = a + b           ## addiiton
sub_result = a - b           ##substraction 
mult_result = a * b          ## multiplication
div_result = a / b           ## division
floor_div_result = a // b    ## floor division
exponent_result= a ** b      ## Exponentiation
modulus_result = a % b       ## modulus operation (remainder)


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

12
8
20
5.0
5
0
100

In [ ]:
## One line print statement
## all results separated by spaces  
print(add_result, sub_result, mult_result, div_result, floor_div_result, modulus_result, exponent_result)

12 8 20 5.0 5 0 100

In [7]:
a = 5
b = 2

print("Add:", add_result, "| Sub:", sub_result, "| Mul:", mult_result, "| Div:", div_result,
      "| Floor Div:", floor_div_result, "| Mod:", modulus_result, "| Exp:", exponent_result)

# this won't run...
# changing a and b does not automatically update add_result, sub_result, etc. 
# unless you re-run the cell where you computed them

a = 5
b = 2

print("Add:", a + b, "| Sub:", a - b, "| Mul:", a * b, "| Div:", a / b,
      "| Floor Div:", a // b, "| Mod:", a % b, "| Exp:", a ** b)

Add: 12 | Sub: 8 | Mul: 20 | Div: 5.0 | Floor Div: 5 | Mod: 0 | Exp: 100
Add: 7 | Sub: 3 | Mul: 10 | Div: 2.5 | Floor Div: 2 | Mod: 1 | Exp: 25

In [8]:
10/5

2.0

In [9]:
21/5

4.2

In [10]:
21//5

4

#### Comparison Operators

In [11]:
## Comparison Operators
## == Equal to

a = 10
b = 10

a == b

True

In [17]:
stra = "Alish"
strb = "Khan"

stra == strb

False

In [23]:
str1 = "ALISH"
str2 = "ALISH"

str1==str2

True

In [26]:
## Not Equal to !=
str1 != str2

False

In [27]:
stra != strb

True

In [ ]:
str3 = "KHAN"
str4 = "khan"

str3 != str4
# true because both of them are not equal

True

In [29]:
# greater than >

num1 = 45
num2 = 55

num1 > num2

False

In [30]:

## less than <

print (num1 < num2)

True

In [31]:
#greater than or equal to
number1 = 45
number2 = 45

print (number1 >= number2)

True

In [32]:
#less than or equal to
number1 = 44
number2 = 45

print (number1<=number2)

True

#### Logical Operators
And , Not, OR

In [ ]:
## And 
X = True
Y = True

result = X and Y
print (result)

True

In [2]:
X = False
Y = True

result = X and Y
print (result)

False

In [3]:
## OR
X = False
Y = False

result = X or Y
print (result)

False

In [ ]:
# Not operator - reverse of boolean
X = False
not X

True

#### Simple Calculator

In [7]:


# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 16.0
Subtraction: 8.0
Multiplication: 48.0
Division: 3.0
Floor Division: 3.0
Modulus: 0.0
Exponentiation: 20736.0

In [8]:
## This is it!