#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [172]:
## Mutable collection means all the items that are present in a list, 
# we can actually change it

In [173]:
lst = {}
print(type(lst))

<class 'dict'>

In [174]:
lst = ["aba" , "amma"]
print(lst)
print(type(lst))

['aba', 'amma']
<class 'list'>

In [175]:
names = ["lishba" , "Dullah" , "Rama" , "Doba", 6 , 9 , 27 , 24]
print(names)

['lishba', 'Dullah', 'Rama', 'Doba', 6, 9, 27, 24]

In [176]:
dates = [ 06, 09, 27, 24 ]
print(dates)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3346597288.py, line 1)

In [ ]:
mixed_list=[0,"Hello",3.14,True]
print(mixed_list)

[0, 'Hello', 3.14, True]

In [ ]:
### Accessing List Elements

fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

In [ ]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1]) 
print(fruits[-3]) 
print(fruits[-0])

Raspberry
Strawberry
Blueberry
Blueberry
Strawberry
Raspberry

In [ ]:
### Accessing List Elements

fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

In [ ]:
print(fruits[1:])  #1st index till last index
print(fruits[1:3]) #1st index till 2nd
print(fruits[-1:])
print(fruits[-0:])
print(fruits[-0:-3])
print(fruits[-0:-0])
print(fruits[-0:5])
print(fruits[-0:-1])

['Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Gooseberry', 'Strawberry']
['Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry']
[]
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry']

In [ ]:

fruits[1]="Melon"
print(fruits)

['Raspberry', 'Melon', 'Strawberry', 'Boysenberry', 'Blueberry']

In [ ]:
fruits[3]="lemon"
print(fruits)

['Raspberry', 'Melon', 'Strawberry', 'lemon', 'Blueberry']

In [ ]:
fruits[4]="Blueberry"
print(fruits)

['Raspberry', 'Melon', 'Strawberry', 'lemon', 'Blueberry']

In [ ]:
fruits[1:]="watermelon"
#here it considered as character by character not as a single word

In [ ]:
fruits

['Raspberry', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

In [ ]:
## List Methods

fruits.append("Blackberry") ## Add an item to the end
print(fruits)

['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry', 'Blackberry']

In [ ]:
#  I want to append any element at a specific index
fruits.insert(1,"Wineberry")
print(fruits)

['Raspberry', 'Wineberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry', 'Blackberry']

In [ ]:
fruits.remove("Gooseberry") ## Removing the first occurance of an item
print(fruits)

['Raspberry', 'Wineberry', 'Strawberry', 'Boysenberry', 'Blueberry', 'Blackberry']

In [ ]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

#error because banana was not in the list

ValueError: list.remove(x): x not in list

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

In [ ]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

Blueberry
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry']

In [ ]:
index=fruits.index("Strawberry")
print(index)

2

In [ ]:
## Remove and return the last element
popped_fruits=fruits.pop(2)
print(popped_fruits)
print(fruits)

Strawberry
['Raspberry', 'Gooseberry', 'Boysenberry']

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

fruits.insert (2, "Banana")
print(fruits.count("Banana"))
print (fruits)

1
['Raspberry', 'Gooseberry', 'Banana', 'Strawberry', 'Boysenberry', 'Blueberry']

In [ ]:

#It starts with a list of fruit names.
#It inserts the string "Banana" at index 2 (third position) in the list.
#It counts how many times "Banana" appears in the modified list (which is 1).
#It prints that count (1).

In [ ]:
fruits.sort() ## Sorts the list in ascending order

In [ ]:
fruits

['Banana', 'Blueberry', 'Boysenberry', 'Gooseberry', 'Raspberry', 'Strawberry']

In [ ]:
fruits.reverse() ## REverse the list

In [ ]:
fruits

['Strawberry', 'Raspberry', 'Gooseberry', 'Boysenberry', 'Blueberry', 'Banana']

In [ ]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

### SLICING LIST

In [ ]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2]) #jump two steps ahead
print(numbers[::-1]) 
print(numbers[:-0])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
numbers[::3]

[1, 4, 7, 10]

In [ ]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [ ]:
numbers[::-3]

[10, 7, 4, 1]

In [ ]:
numbers[::3]

[1, 4, 7, 10]

In [ ]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

for fruit in fruits:
    print(fruits)

['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']
['Raspberry', 'Gooseberry', 'Strawberry', 'Boysenberry', 'Blueberry']

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

for fruits in fruits:
    print(fruits) #next to for wala variable dalna hota hai

Raspberry
Gooseberry
Strawberry
Boysenberry
Blueberry

In [ ]:
fruits=["Raspberry","Gooseberry","Strawberry","Boysenberry","Blueberry"]

for fruit in fruits:
    print(fruit)

Raspberry
Gooseberry
Strawberry
Boysenberry
Blueberry

#### enumerate() : inbuild function
What is enumerate()?
enumerate(iterable, start=0) generates pairs of (index, value) for each item in the iterable.
The start parameter (optional) sets the starting index (default is 0).
It's commonly used in for loops to access both the index and the element without needing range(len(iterable)).

In [ ]:
## Iterating with index
for index, number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
fruits = ["Raspberry", "Gooseberry", "Strawberry", "Boysenberry", "Blueberry"]
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: Raspberry
Index 1: Gooseberry
Index 2: Strawberry
Index 3: Boysenberry
Index 4: Blueberry

In [ ]:
## enumerate(fruits) produces pairs like (0, "Raspberry"), (1, "Gooseberry"), etc.
## The loop unpacks each pair into index and fruit.
## It prints the index and the corresponding fruit name.

##### Using enumerate() with a String

In [ ]:
text = "hello"
for index, char in enumerate(text):
    print(f"Index {index}: {char}")

Index 0: h
Index 1: e
Index 2: l
Index 3: l
Index 4: o

#### List comprehension

In [ ]:
## List comprehension

lst = []
for x in range (10):
    lst.append (x**2)

print(lst)

# Inside a for loop I am squaring every number & appending in the list
# to square every number(x ** 2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lst = []
for x in range (8):
    lst.append (x**3)

print(lst)

[0, 1, 8, 27, 64, 125, 216, 343]

In [ ]:
lst = []
for x in range (0):        #range(-5) => output: [] 
    lst.append (x**2)

print(lst)

[]

In [ ]:
#short LOC
[ x ** 2 for x in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[ x ** 2 for x in range (0)]

[]

#### List Comprehension
1. Basics Syantax:
    - [expression for item in iterable]
2. with conditional logic 
    - [expression for item in iterable if condition]
3. Nested List Comprehension
    - [expression for item1 in iterable1 for item2 in iterable2]

In [178]:
### Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [180]:
### List Comprehension with Condition
# even numbers
lst=[]
for i in range(20):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [197]:
even_numbers = [num for num in range (20) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [181]:
lst=[]
for i in range(20):
    if i**2 == 0:
        lst.append(i)

print(lst)

[0]

In [186]:
#Odd numbers
lst=[]
for i in range(22):
    if i % 2 :
        lst.append(i)

print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [192]:
lst=[]
for i in range(20):
    if i ** 2 :  # True for i != 0, since 0 ** 2 = 0 is falsy
        lst.append(i)
        i = i + 1

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
lst = []
for i in range(10):
    if i ** 2:  # Non-zero squares
        lst.append(i ** 2)  # Append the square instead of i
print(lst)

## Explanation: Appends i ** 2 for i = 1 to 19 (skipping i = 0).

[1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 2, 4, 6, 8]

### MORE EXAMPLES

In [ ]:
## Example with the fruits List:
fruits = ["Raspberry", "Gooseberry", "Strawberry", "Boysenberry", "Blueberry"]
upper_fruits = [fruit.upper() for fruit in fruits]
print(upper_fruits)

['RASPBERRY', 'GOOSEBERRY', 'STRAWBERRY', 'BOYSENBERRY', 'BLUEBERRY']

In [ ]:
## Example with a String:
text = "hello"
upper_chars = [char.upper() for char in text]
print(upper_chars)

In [ ]:
## Filters elements based on a condition:
#  [expression for item in iterable if condition]

fruits = ["Banana", "Gooseberry", "Cherry", "Boysenberry", "Orange"]
berry_fruits = [fruit for fruit in fruits if "berry" in fruit.lower()]
print(berry_fruits)

['Gooseberry', 'Boysenberry']

In [ ]:
## Example with a String:
text = "hello"
vowels = [char for char in text if char in "aeiou"]
print(vowels)

['e', 'o']

In [177]:
## Combines an expression with a condition:
#  [expression for item in iterable if condition]


fruits = ["Raspberry", "Gooseberry", "kiwi", "lemon", "Blackberry", "Strawberry", "Boysenberry", "Blueberry"]
fruits.insert(2, "Banana")
short_fruits = [fruit[:4] for fruit in fruits if len(fruit) > 5]
print(short_fruits)

['Rasp', 'Goos', 'Bana', 'Blac', 'Stra', 'Boys', 'Blue']

In [164]:
## Example with a String:
text = "hello"
caps_consonants = [char.upper() for char in text if char not in "aeiou"]
print(caps_consonants)

['H', 'L', 'L']

In [166]:
## List Comprehension with enumerate()
# [(expression) for index, item in enumerate(iterable)]

fruits = ["Raspberry", "Gooseberry", "Strawberry", "Boysenberry", "Blueberry"]
indexed_fruits = [f"{index}: {fruit}" for index, fruit in enumerate(fruits)]
print(indexed_fruits)

['0: Raspberry', '1: Gooseberry', '2: Strawberry', '3: Boysenberry', '4: Blueberry']

In [167]:
## Example with a String:
text = "hello"
indexed_chars = [(index, char) for index, char in enumerate(text) if char == 'l']
print(indexed_chars)

[(2, 'l'), (3, 'l')]

In [171]:
## Nested List Comprehension
#  [expression for subitem in nested_iterable for item in subitem]

nested = [["paper", "pen"], ["board", "chalk"]]
flattened = [stationary for sublist in nested for stationary in sublist]
print(flattened)

['paper', 'pen', 'board', 'chalk']