####  Tuples
Introduction to Tuples
Creating Tuples
Accessing Tuple Elements
Tuple Operations
Immutable Nature of Tuples
Tuple Methods
Packing and Unpacking Tuples
Nested Tuples
Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:

lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
number = tuple ([ 1, 2, 3, 4, 5, 6, 7, 8 ])
number

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# A list can be converted into a tuple, even a tuple can be converted into a list

In [ ]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [ ]:
mixed_tuple = (1,"Hello lish" , 3.14 , True)
print(mixed_tuple)

(1, 'Hello lish', 3.14, True)

In [6]:
mixed_tuple = [(1,"Hello lish" , 3.14 , True)]
print(mixed_tuple)

[(1, 'Hello lish', 3.14, True)]

In [7]:
mixed_tuple = list [(1,"Hello lish" , 3.14 , True)]
print(mixed_tuple)

list[1, 'Hello lish', 3.14, True]

In [8]:
mixed_tuple = list ((1,"Hello lish" , 3.14 , True))
print(mixed_tuple)

[1, 'Hello lish', 3.14, True]

In [9]:
## Accessing Tuple Elements

number

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
print  (number[2])
print  (number[-1])
print  (number[-2])

3
8
7

In [12]:
number [0:4]  #slicing method

(1, 2, 3, 4)

In [13]:
number [::]

(1, 2, 3, 4, 5, 6, 7, 8)

In [14]:
number [::-1]  #reverse

(8, 7, 6, 5, 4, 3, 2, 1)

In [15]:
print (type(number))

<class 'tuple'>

In [18]:
## Tuple Operations

number = tuple ([ 1, 2, 3, 4, 5, 6, 7, 8 ])
mixed_tuple = (1,"Hello lish" , 3.14 , True)

concatenation_tuple = number + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 'Hello lish', 3.14, True)

In [ ]:
mixed_tuple * 3

(1,
 'Hello lish',
 3.14,
 True,
 1,
 'Hello lish',
 3.14,
 True,
 1,
 'Hello lish',
 3.14,
 True)

In [21]:
number * 3

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

In [23]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

In [ ]:
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Alish"
print(lst)   

# list are mutable, elements can be changed once assigned 
# at index 1, we can see 2 is replaced by Alish

[1, 2, 3, 4, 5]
[1, 'Alish', 3, 4, 5]

In [ ]:
number

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
number [1] = "Alish"

TypeError: 'tuple' object does not support item assignment

In [28]:
type(number) 
# they are immutable , that's how immutability comes into picture

tuple

In [31]:
numbers = tuple([ 1, 2, 3, 4, 5, 6, 1, 1, 1])

In [38]:
## Tuple Methods - .count , .index

print (numbers.count(1)) #4 times 1
print (numbers.count(2)) #1 times 2

print (numbers.index(3)) # it determines at which index 3rd element is present
print (numbers.index(1))

4
1
2
0

In [ ]:
## access all the 1's index

indices = [i for i in range(len(numbers)) if numbers[i] == 1]
print(indices)

[0, 6, 7, 8]

In [40]:
## Packing and Unpacking tuple
## packing

packed_tuple = 1 ,"Hello" ,3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [41]:
## whatever number or element that i have given it is going to pack them in a tuple itself
## so that's a reason we say it as we are packing a tuple wherever we give this

In [42]:
##unpacking a tuple
## create 3 variables for packet_tuple
a, b, c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [67]:
number = tuple ([ 1, 2, 3, 4, 5, 6, 7, 8 ])

number

(1, 2, 3, 4, 5, 6, 7, 8)

In [69]:
a,b,c,d,e,f,g,h = number
print(a)
print(h)

1
8

In [ ]:
## unpacking with * 
num = ( 1,2,3,4,5 )
first, *middle, last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [ ]:
## Nested Tuple and Nested List
## N-List

lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",9.0,"h"]]
lst[0]

[1, 2, 3, 4]

In [75]:
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",9.0,"h"]]
lst[0][0:3]
lst[0][0:3]

[1, 2, 3]

In [ ]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:4]

(1, 'Hello', 3.14, 'c')

In [81]:
lst = [(1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:4]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3829050376.py, line 1)

In [83]:
## Nested_tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2]) #only want to pick c, from [1] index [2] where c lies
print(nested_tuple[2][1])

(1, 2, 3)
c
False

In [84]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end = " " )
    print()

1 2 3
a b c
True False

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [85]:
## Tuples are a kind of data structure. It will be specifically used when you do some kind of 
## some kind of data analysis and all
## some or the oter way when we are writing code & all, you will be using tuple extensively