#### SET
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [9]:
##create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [10]:
my_empty_set = set()
print (type(my_empty_set))

<class 'set'>

In [18]:
my_empty_set = set([1,2,3,4,4,5])
print (my_empty_set)

{1, 2, 3, 4, 5}

In [16]:
my_empty_set = set({1,2,3,4,4,5, 6,7, 7, 8 })
print (my_empty_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
my_empty_set = set((1,2,3,4,4,5))
print (my_empty_set)

{1, 2, 3, 4, 5}

In [19]:
my_set = set([1,2, 5, 6, 9 ,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
# Basics Sets Operation
## Adiing and Removing Elements

my_set.add(7)
print(my_set)

my_set.add(7)  #repeated element will be ignored
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9}